* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: black;
  position: relative;
}

#back{
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.circle{
  position: absolute;
  width: 1400px;
}

#circle1{
  position: absolute;
  left: -1453px;
  top: -844px;
}

#circle2{
  left: 1493px;
  top: -798px;
}

#circle3{
  left: 552px;
  top: 1079px;
}

#click{
  position: absolute;
  left: 50vw;
  top: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#click > div {
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
  color: black;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}