html {
  height: 100%;
  width: 100%;
  text-align: center;
  background: black;
  overflow:hidden;
}

.home{
font-size: 3rem;
color: white;
font-family: 'Black Han Sans';
white-space: nowrap;
display: flex;
justify-content: center;
}

p{
  line-height:0.5em
}

a{
  text-decoration-line:none;
  color:white;
}

