*{
  margin: 0;
  padding: 0;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #22212B;
  position: relative;
  overflow: hidden;

  h1{
    position: absolute;
    top: 10%;
    left: 63%;
    font-size: 5.5em;
    font-weight: 400;
    color: rgba(255,255,255, 0.2);
    transform: rotate(-90deg);
    width: 70%;

  }

  form{
    margin: 20px;
  }

}

.search{
  background-color: #9BDBFF;
  padding: 2em;
  border-radius: 100px;
  color: black;
}

.menu{
  color: rgba(255,255,255, 0.5);
  font-size: 7em;
  font-weight: 900;
}

.menu100{
  color: rgb(255,255,255);
}
.menu20{
  color: rgba(255,255,255,0.2);
}