body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  div{
    font-size: 4em;
    color: white;
    font-weight: 800;
  }

  main {
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: row;
    gap: 3vw;
    justify-content: center;
    align-items: center;


    div {
      
        img {
          width: 6vw;
        }
    }
  }
}